html {
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Exo 2",sans-serif;
}

body {
    background-color: #2c343b;
}

p {
    color: rgb(255, 255, 255);
}

#pokemon-name {
    text-align: center;
    color: white;
}


.card {
    background: linear-gradient(180deg, rgb(206, 66, 124) 0%, rgb(132, 140, 185) 65%);
    width: 330px;
    height: 450px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}



.image {
    width: 120px;
}

.container {
    width: 250px;
    color: rgb(132, 140, 185);
    text-align: center;
    height: 250px;
    background-color: #e6e2e2;
    margin: 0;
    border-radius: 10px;
    font-size: 10px;
}


p a {
     color:rgb(206, 66, 124); 
        text-decoration: none; 
}

p a:hover {
    color: ivory;
}

form {
    margin: auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 241px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

input {
    width: 160px;
    font-size: 20px;
    border: none;
    padding-left: 20px;
}

button {
    width: 60px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(206, 66, 124); ;
    border-radius: 0 10px 10px 0px;
    border: none;
}